* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

body {
    height: 100vh;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
}

/* Main */
main {
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Form */

@keyframes popup {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.5);
    }
}

.formPopup {
    display: none;
    position: fixed;
    top: 30%;
    border: 3px solid #999999;
    z-index: 1;
    animation-name: popup;
    animation-duration: 0.7s;
    transform: scale(1.5);
}

form {
    width: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 3px solid #e0e0e0;
    padding: 10px;
    margin: 5px;
}

.topContainer {
    display: flex;
    gap: 10px;
}


input[type=text],
input[type=number] {
    width: 100%;
    background: #e0e0e0;
    border: none;
    padding: 3px 0px 3px 6px;
}

fieldset,
.inputContainer,
button {
    margin-top: 5px;
}

fieldset {
    border: none;
}

.inputContainer.radioBtn {
    width: 200px;
}

input[type=radio] {
    margin-right: 2px;
}

legend {
    margin-bottom: 3px;
}

.radioContainer {
    margin-right: 5px;
}

.inputContainer {
    width: 150px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.formButtons button {
    width: 45%;
}
/* Book container */
.bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
    padding: 20px;
    justify-items: center;
}
.book {
    border: 1px solid red;
    width: 292px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 10px;
    font-size: 25px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.readButton,
.removeButton {
    padding: 5px 10px;
    width: 80px;
    height: 50px;
    font-size: 15px;
}

.readButton {

}

.removeButton {

}

.bookRead {
    background: green;
}

.bookNotRead {
    background: red;
}